html,
body{
   height: 100%;
}

body{
   @extend %quicksand-medium;
   font-size: 16px;
   line-height: 26px;  
   color: $text;
   display: flex;
   flex-direction: column;
   padding-top: 110px;
}

.main{
   flex: 1 1 auto;
}

.title{
   @extend %roboto-bold;
   font-size: 48px;
   line-height: normal;
   text-transform: uppercase;
   color: $title;
}

.btn-solid{
   background: $accent;
   color: #fff;
   text-transform: uppercase;
   @extend %roboto-regular;
   padding: 7px 25px;
   transition: .3s;
   box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, 0.3);

   &:hover{
      background: #ff8091;
   }
}

.btn-howl{
   padding: 12px 20px;
   border: 1px solid $accent;
   text-transform: uppercase;
   @extend %roboto-regular;
   transition: .3s;
   line-height: 1;

   &:hover{
      background: $accent;
      color: #fff;
      box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, 0.3);
   }
}

.container{
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 15px;
}