$accent: #fe3e57;
$bg: #fff;
$title: #29282d;
$text: #8d8d8d;
$bg-semi: #f6f6f6;

%quicksand-medium{
   // @extend %quicksand-medium;
   font-family: 'Quicksand-Medium', sans-serif;
   font-weight: 500;
}

%quicksand-regular{
   // @extend %quicksand-regular;
   font-family: 'Quicksand-Regular', sans-serif;
   font-weight: 400;
}

%roboto-bold{
   // @extend %roboto-bold;
   font-family: 'Roboto-Bold', sans-serif;
   font-weight: 700;
}

%roboto-medium{
   // @extend %roboto-medium;
   font-family: 'Roboto-Medium', sans-serif;
   font-weight: 500;
}

%roboto-regular{
   // @extend %roboto-regular;
   font-family: 'Roboto-Regular', sans-serif;
   font-weight: 400;
}

%link-hover{
   // @extend %link-hover;
   color: $accent;
   border-bottom: 1px solid $accent;
}

%title-center{
   // @extend %title-center;
   text-align: center;
   margin-bottom: 15px;
}

%subtitle-center{
   // @extend %subtitle-center;
   text-align: center;
   margin: 0 auto;
   margin-bottom: 40px;
   max-width: 530px;
}

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}