$accent: #fe3e57;
$default: #fff;
$title: #29282d;
$text: #8d8d8d;

%quicksand-medium{
   // @extend %quicksand-medium;
   font-family: 'Quicksand-Medium', sans-serif;
   font-weight: 500;
}

%quicksand-regular{
   // @extend %quicksand-regular;
   font-family: 'Quicksand-Regular', sans-serif;
   font-weight: 400;
}

%roboto-bold{
   // @extend %roboto-bold;
   font-family: 'Roboto-Bold', sans-serif;
   font-weight: 700;
}

%roboto-medium{
   // @extend %roboto-medium;
   font-family: 'Roboto-Medium', sans-serif;
   font-weight: 500;
}

%roboto-regular{
   // @extend %roboto-regular;
   font-family: 'Roboto-Regular', sans-serif;
   font-weight: 400;
}

%link-hover{
   // @extend %link-hover;
   color: $accent;
   border-bottom: 1px solid $accent;
}