@import 'reset';
@import 'vars';
@import 'libs';
@import 'fonts';
@import 'global';




//HEADER

.header{
   position: absolute;
   background: #fff;
   z-index: 5;
   right: 0;
   left: 0;
   top: 0;

   &__wrapper{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 40px 0;
   }
}

.menu{
   margin: 0 15px;
   text-transform: uppercase; 

   &__list{
      display: flex;
   }

   &__item + .menu__item{
      margin-left: 35px;
   }

   &__link{
      transition: .3s;
      color: $title;
      border-bottom: 1px solid transparent;
      padding: 0 3px;
      @extend %roboto-regular;

      &:hover{
         @extend %link-hover;
         @extend %roboto-bold;
      }
   }

   &__link.menu__link--active{
      color: $accent;
      border-bottom: 1px solid $accent;
      @extend %roboto-bold;
   }
}

.user-nav{
   display: flex;
   margin-right: 15px;

   &__item + .user-nav__item{
      margin-left: 20px;
      position: relative;
   }

   &__number{
      position: absolute;
      top: -10px;
      right: -15px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: $accent;
      color: #fff;
      font-size: 12px;
      @extend %quicksand-medium;
      line-height: 20px;
      text-align: center;
   }
}




//TOP-SLIDER

.top-slider{

   &__item{
      position: relative;
      background: url('../images/content/slider/bg.jpg') center/cover no-repeat;
   }

   &__wrapper{
      min-height: 700px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 70px 0;
      max-width: 570px;
      user-select: text;
   }

   &__title{
      font-size: 58px;
      position: relative;
      line-height: 68px;
      text-transform: none;
      margin-bottom: 30px;
   }

   &__text{
      margin-bottom: 40px;
      max-width: 470px;
   }

   &__img-wrapper{
      position: absolute;
      bottom: 0;
      left: calc(50% + 70px);
      right: 0;
   }

   .slick-dots{
      font-size: 0;
      display: flex;
      justify-content: center;
      position: absolute;
      bottom: 30px;
      left: 0;
      right: 0;
   }

   [role="tab"]{
      padding: 0;
      width: 24px;
      height: 24px;
      background: transparent;
      border-radius: 50%;
      border: 1px solid transparent;
      margin: 0 3px;
      position: relative;
      transition: .3s;

      &::before{
         content: "";
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         width: 6px;
         height: 6px;
         background: $text;
         border-radius: 50%;
         transition: .3s;
      }
   }

   .slick-active [role="tab"]{
      border-color: $accent;

      &::before{
         background: $accent;
      }
   }
}




//TOP-CATEGORIES

.top-categories{
   padding: 100px 0;
   background: url('../images/content/top-categories/bg-left.svg') center left no-repeat,
   url('../images/content/top-categories/bg-right.svg') center right no-repeat;

   &__advantages{
      display: flex;
      justify-content: space-between;
      margin-bottom: 100px;
      column-gap: 25px;
      position: relative;

      &::before{
         content:"";
         position: absolute;
         width: 120px;
         height: 121px;
         background: url('../images/content/top-categories/advantages-circle.svg') no-repeat;
         top: -40px;
         left: -45px;
         z-index: -1;
      }

      &::after{
         content:"";
         position: absolute;
         width: 65px;
         height: 52px;
         background: url('../images/content/top-categories/advantages-cube.svg') no-repeat;
         right: -24px;
         bottom: -24px;
         z-index: -1;
      }
   }

   &__advantages-item{
      flex: 0 1 360px;
      padding: 35px 23px;
      box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
      background: #fff;
   }

   &__advantages-img{
      margin-bottom: 30px;
   }

   &__advantages-title{
      @extend %roboto-regular;
      font-size: 22px;
      margin-bottom: 10px;
      color: $title;
      
   }

   &__title{
      @extend %title-center;
   }

   &__subtitle{
      @extend %subtitle-center;
   }

   &__wrapper{
      display: grid;
      grid-gap: 25px;
      grid-template:repeat(2, 300px) / repeat(3, 1fr) ;
   }

   &__item{
      padding: 30px;
      color: $title;
      position: relative;
   }
   
   &__item-text{
      position: relative;
      z-index: 3;
   }

   &__item-title{
      @extend %roboto-medium;
      margin-bottom: 5px;
      font-size: 22px;
   }

   &__item-link{
      border-bottom: 1px solid transparent;
      text-transform: uppercase;
      @extend %roboto-regular;
      transition: .3s;

      &:hover{
         @extend %link-hover;
      }
   }

   &__item-img{
      position: absolute;
      bottom: 0;
      right: 0;
      max-height: 100%;
   }

   &__item-discount{
      background: #eedeef;
      grid-row: 1 / 3;

      .top-categories__item-text{
         max-width: 170px;
      }

      .top-categories__item-position{
         color: #5800e4;
      }

      .top-categories__item-link:hover{
         color: #5800e4;
         border-bottom-color: #5800e4;
      }  

      .top-categories__item-img{
         width: 77%;
      }
   }

   &__item-new{
      grid-column: 2 / 4;
      background: #deeeef;
      display: flex;

      .top-categories__item-text{
         max-width: 230px;
         margin: auto 0;
      }

      .top-categories__item-position{
         color: $accent;
      }

      .top-categories__item-img{
         right: 20px;
      }
   }

   &__item-trending{
      background: #fef6a9;

      .top-categories__item-text{
         max-width: 140px;
      }

      .top-categories__item-position{
         color: #ffb534;
      }

       .top-categories__item-link:hover{
         color: #ffb534;
         border-bottom-color: #ffb534;
      }  

      .top-categories__item-img{
         max-width: 62%;
         padding-top: 15px;
      }
   }

   &__item-hot{
      background: #ececec;

      .top-categories__item-text{
         max-width: 140px;
      }

      .top-categories__item-position{
         color: #34c3ff;
      }

       .top-categories__item-link:hover{
         color: #34c3ff;
         border-bottom-color: #34c3ff;
      }  

      .top-categories__item-img{
         max-width: 54%;
         padding-top: 15px;
      }
   }
}




// TREND-FASHION

.trend-fashion{
   background: url('../images/content/trend-fashion/bg.svg') center/cover no-repeat, $bg-semi;
   padding: 110px 0;

   &__wrapper{
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__img-link{
      flex: 0 1 535px;
      margin-right: 55px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      &::before{
         content:"";
         position: absolute;
         background: url('../images/content/trend-fashion/video-triangle.png') no-repeat;
         width: 20px;
         height: 20px;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         z-index: 2;
      }

      &::after{
         content:"";
         position: absolute;
         z-index: 1;
         width: 85px;
         height: 85px;
         border-radius: 50%;
         background: $accent;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         box-shadow: 0px 0px 0px 0px rgba($accent, 0.6),
                     0px 0px 0px 0px rgba($accent, 0.4);
         transition: .3s;
      }

      &:hover::after{
         box-shadow: 0px 0px 0px 10px rgba($accent, 0.6),
                     0px 0px 0px 20px rgba($accent, 0.4);
      }
   }
   
   &__text{
      flex: 0 1 570px;
   }

   &__suptitle{
      font-size: 22px;
      text-transform: uppercase;
      color: $accent;
      margin-bottom: 15px;
   }
   
   &__title{
      margin-bottom: 30px;
   }

   &__desc{
      margin-bottom: 50px;
   }
}




// PRODUCTS

.products{
   padding: 110px 0;
   
   &__title{
      @extend %title-center;
   }

   &__subtitle{
      @extend %subtitle-center;
   }

   &__inner{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 45px 30px;
      margin-bottom: 55px;
   }

   &__link-wrapper{
      display: flex;
      justify-content: center;
   }

   &__link{

   }
}

.product-item{
   max-width: 370px;

   &--sale{

      .product-item__box::before{
         content: "sale";
         position: absolute;
         background: $accent;
         top: 20px;
         left: 20px;
         color: #fff;
         text-transform: uppercase;
         @extend %roboto-regular;
         padding: 5px 9px;
         transition: .3s;
         box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, 0.3); 
      }
   }

   &__box{
      position: relative;
      margin-bottom: 20px;
      height: 370px;

      &:hover{

         .product-item__link-wrapper{
            opacity: 1;
            transform: translate(-50%, 0px);
         }
      }
   }

   &__img{
      object-fit: cover;
      height: 100%;
      width: 100%;
   }

   &__link-wrapper{
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 8px 0;
      border-radius: 22px;
      bottom: 50px;
      left: 50%;
      box-shadow: 0px 5px 30px 0px rgba(152, 152, 152, 0.2);
      transform: translate(-50%, 20px);
      background: #fff;
      opacity: 0;
      transition: .3s;
   }

   &__link{
      padding: 3px 20px;
      line-height: normal;

      & + .product-item__link{
         border-left: 1px solid #ececec;
      }

      path{
         transition: .3s;
      }

      &:hover path {
         fill: $accent;
      }
   }

   &__info{
      text-align: center;
      @extend %roboto-regular;
      color: $title;
   }

   &__rate{   
      margin: 0 auto;
      margin-bottom: 10px;
   }

   &__title{
      font-size: 22px;
      margin-bottom: 10px;
      @extend %roboto-regular;
   }

   &__price{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
   }

   &__new-price{
      @extend %roboto-bold;
   }

   &__old-price{
      margin-left: 10px;
      text-decoration: line-through;
      color: $text;
   }
}




// TIMER

.timer{
   background: url('../images/content/timer/bg.jpg') center center/ cover no-repeat;
   padding: 150px 0;

   &__inner{
      max-width: 570px;
      margin-left: auto;
      text-align: center;
   }

   &__suptitle{
      margin-bottom: 10px;
      color: $accent;
      text-transform: uppercase;
      font-size: 22px;
   }

   &__title{
      margin-bottom: 50px;
   }

   &__number-wrapper{
      display: flex;
      justify-content: space-between;
      margin-bottom: 45px;
   }

   &__number-item{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 120px;
      height: 120px;
      border-radius: 50%;
      box-shadow: 0px 10px 40px 0px rgba(187, 187, 187, 0.3);
   }

   &__number{
      color: $title;
      @extend %roboto-bold;
      font-size: 48px;
      line-height: 1;
   }
}




// PARTNERS

.partners__inner{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-top: 100px;
}




// BLOG

.blog{
   padding: 110px 0 150px;
   background: url('../images/content/blog/bg.svg') bottom 100px center no-repeat;

   &__title{
      @extend %title-center;
   }

   &__subtitle{
      @extend %subtitle-center;
   }

   &__inner{
      display: flex;
      justify-content: space-between;
      column-gap: 20px;
      position: relative;

      &::before{
         content:"";
         position: absolute;
         right: -27px;
         top: -30px;
         width: 126px;
         height: 53px;
         background: url('../images/content/blog/decor.svg') no-repeat;
      }
   }
}

.blog-item{
   flex: 0 1 370px;
   border: 1px solid #ececec;
   background: #fff;
   transition: .3s;
   position: relative;
   z-index: 0;

   &__img{
      height: 288px;
      width: 100%;
      object-fit: cover;
   }

   &__text{
      padding: 25px 30px;
   }

   &__info{
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
   }

   &__info-author{
      position: relative;
      padding-left: 30px;
      margin-right: 15px;

      &::before{
         background: url('../images/icons/blog-user.svg') no-repeat;
      }
   }

   &__info-author::before,
   &__info-date::before{
      content:"";
      position: absolute;
      left: 0;
      top: 50%;
      transform:translateY(-50%);
      width: 21px;
      height: 20px;
   }

   &__info-date{
      position: relative;
      padding-left: 30px;

       &::before{
         background: url('../images/icons/blog-time.svg') no-repeat;
      }
   }

   &__title{
      @extend %roboto-regular;
      font-size: 22px;
      line-height: 32px;
      margin-bottom: 10px;
      color: $title;
   }

   &__link{
      display: inline-flex;
      align-items: center;
      transition: .3s;
      position: relative;
      padding-right: 15px;

      &::before{
         background: url('../images/icons/arrow-right.svg') no-repeat;
         z-index: 2;
         opacity: 1;
      }

      &::after{
         background: url('../images/icons/arrow-right-accent.svg') no-repeat;
         z-index: 1;
         opacity: 0;
      }

      &::before,
      &::after{
         content:"";
         position: absolute;
         right: 0;
         width: 10px;
         height: 8px;
         top: 50%;
         transform:translateY(-50%);
         transition: .3s;
      }
   }

   &:hover{
      box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
      z-index: 1;
      border: 1px solid transparent;

      .blog-item__link{
         color: $accent;

         &::before{
            opacity: 0;
         }

         &::after{
            opacity: 1;
         }
      }
   }
}




// BREADCRUMBS

.breadcrumbs-container{
   max-width: 1700px;
   padding: 0 15px;
   margin: 0 auto;
}

.breadcrumbs{
   
   &__inner{
      background: url('../images/breadcrumbs-bg.jpg') center top/cover no-repeat;
      padding: 120px 0;
   }

   &__title{
      @extend %roboto-regular;
      margin-bottom: 25px;
      text-align: center;
   }

   &__list{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      max-width: 530px;
      margin: 0 auto;
      column-gap: 10px;
   }

   &__list-item{
      position: relative;
      padding-left: 25px;

      &::before{
         content: "";
         position: absolute;
         left: 0;
         top: 50%;
         transform: translateY(-50%);
         width: 17px;
         height: 17px;
         background: url('../images/icons/home.svg') no-repeat;
      }

      & + &::before{
         background: url('../images/icons/double-arrow-right.svg') center center no-repeat;
      }

      &:last-child{
         color: $accent;
      }
   }
}




// ACCOUNT

.account{
   padding: 110px 0;

   &__form{
      max-width: 570px;
      margin: 0 auto;
   }

   &__nav{
      display: flex;
      justify-content: center;
      margin-bottom: 45px;
      @extend %roboto-regular;
      column-gap: 50px;
      text-transform: uppercase;
   }

   &__nav-item--active{
      @extend %roboto-bold;
      color: $accent;
   }

   &__input,
   &__submit{
      display: block;
      padding: 15px;
      border: none;
      background: #f6f6f6;
      width: 100%;
   }

   &__label-text{
      margin-bottom: 5px;
   }

   &__label{
      margin-bottom: 30px;
      display: block;
   }

   &__label.account__label-checkbox{
      margin: 50px 0 10px;
      display: inline-flex;
      align-items: center;
   }

   &__input.account__input-checkbox{
      width: auto;
      margin-right: 5px;
   }

   &__submit{
      background: #292929;
      text-transform: uppercase;
      color: #fff;
      @extend %roboto-regular;
      margin-bottom: 10px;
      transition: .3s;
      cursor: pointer;

      &:hover{
         background: lighten(#292929, 15%);
      }
   }

   &__forgot-link{
      color: $accent;
   }
}




//FOOTER

.footer{
   background: $bg-semi;
}

.footer-top{
   padding-top: 60px;
   padding-bottom: 30px;
   display: flex;
   justify-content: space-between;
   border-bottom: 1px solid #ececec;

   &__column-contact{
      flex: 0 1 250px;
   }

   &__column-nav{
      flex: 0 1 170px;
      margin-left: 20px;
   }

   &__column-sub{
      flex: 0 4 470px;
      margin-left: 20px;
   }

   &__logo{
      margin-bottom: 28px;
   }

   &__title{
      margin-bottom: 38px;
      font-size: 22px;
      line-height: 36px;
      @extend %roboto-regular;
      color: $title;
      line-height: normal;
   }

   &__address{
      font-style: normal;
   }

   &__item + .footer-top__item{
      margin-top: 12px;
   }

   &__link{
      transition: .3s;

      &:hover{
         color: lighten($text, 20%);
      }
   }

   &__contact-list{
      margin-bottom: 25px;
   }

   &__socials-link{
      fill: $text;
      transition: .3s;

      &:hover{
         fill: $accent;
      }

      & + .footer-top__socials-link{
         margin-left: 12px;
      }
   }

   &__text{
      margin-bottom: 25px;
   }

   &__form{
      display: flex;
      justify-content: space-between;
   }

   &__search{
      flex: 1 1 auto;
      border: none;
      background: #fff;
      padding: 7px 11px;
      box-shadow: 0px 7px 20px 0px rgba(192, 192, 192, 0.3);
   }

   &__submit{
      border: none;
      margin-left: 10px;
      cursor: pointer;
   }
}

.footer-bot{
   display: flex;
   justify-content: space-between;
   padding: 17px 0;
   font-size: 12px;

   &__copy{
      margin-right: 20px;
   }

   &__accept{
      display: flex;
      align-items: center;
   }

   &__accept-img{
      margin-left: 12px;
   }
}


@import 'media';