@import 'reset';
@import 'libs';
@import 'vars';
@import 'fonts';
@import 'global';




//HEADER

.header{
   position: absolute;
   z-index: 5;
   right: 0;
   left: 0;
   top: 0;

   &__wrapper{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 40px 0;
   }
}

.menu{
   margin: 0 15px;
   text-transform: uppercase; 

   &__list{
      display: flex;
   }

   &__item + .menu__item{
      margin-left: 35px;
   }

   &__link{
      transition: .3s;
      color: $title;
      border-bottom: 1px solid transparent;
      padding: 0 3px;
      @extend %roboto-regular;

      &:hover{
         @extend %link-hover;
         @extend %roboto-bold;
      }
   }

   &__link.menu__link--active{
      color: $accent;
      border-bottom: 1px solid $accent;
      @extend %roboto-bold;
   }
}

.user-nav{
   display: flex;
   margin-right: 15px;

   &__item + .user-nav__item{
      margin-left: 20px;
      position: relative;
   }

   &__number{
      position: absolute;
      top: -10px;
      right: -15px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: $accent;
      color: #fff;
      font-size: 12px;
      @extend %quicksand-medium;
      line-height: 20px;
      text-align: center;
   }
}




//TOP-SLIDER

.top-slider{
   padding-top: 110px;

   &__item{
      position: relative;
      background: url('../images/content/slider/bg.jpg') center/cover no-repeat;
   }

   &__wrapper{
      min-height: 700px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 70px 0;
      max-width: 570px;
      user-select: text;
   }

   &__title{
      font-size: 58px;
      position: relative;
      line-height: 68px;
      text-transform: none;
      margin-bottom: 30px;
   }

   &__text{
      margin-bottom: 40px;
      max-width: 470px;
   }

   &__img-wrapper{
      position: absolute;
      bottom: 0;
      left: calc(50% + 70px);
      right: 0;
   }

   .slick-dots{
      font-size: 0;
      display: flex;
      justify-content: center;
      position: absolute;
      bottom: 30px;
      left: 0;
      right: 0;
   }

   [role="tab"]{
      padding: 0;
      width: 24px;
      height: 24px;
      background: transparent;
      border-radius: 50%;
      border: 1px solid transparent;
      margin: 0 3px;
      position: relative;
      transition: .3s;

      &::before{
         content: "";
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         width: 6px;
         height: 6px;
         background: $text;
         border-radius: 50%;
         transition: .3s;
      }
   }

   .slick-active [role="tab"]{
      border-color: $accent;

      &::before{
         background: $accent;
      }
   }
}




//TOP-CATEGORIES

.top-categories{
   padding: 100px 0;
   background: url('../images/content/top-categories/bg-left.svg') center left no-repeat,
   url('../images/content/top-categories/bg-right.svg') center right no-repeat;

   &__advantages{
      display: flex;
      justify-content: space-between;
      margin-bottom: 100px;
      column-gap: 25px;
      position: relative;

      &::before{
         content:"";
         position: absolute;
         width: 120px;
         height: 121px;
         background: url('../images/content/top-categories/advantages-circle.svg') no-repeat;
         top: -40px;
         left: -45px;
         z-index: -1;
      }

      &::after{
         content:"";
         position: absolute;
         width: 65px;
         height: 52px;
         background: url('../images/content/top-categories/advantages-cube.svg') no-repeat;
         right: -24px;
         bottom: -24px;
         z-index: -1;
      }
   }

   &__advantages-item{
      flex: 0 1 360px;
      padding: 35px 23px;
      box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
      background: #fff;
   }

   &__advantages-img{
      margin-bottom: 30px;
   }

   &__advantages-title{
      @extend %roboto-regular;
      font-size: 22px;
      margin-bottom: 10px;
      color: $title;
      
   }

   &__title{
      @extend %title-center;
   }

   &__subtitle{
      @extend %subtitle-center;
   }

   &__wrapper{
      display: grid;
      grid-gap: 25px;
      grid-template:repeat(2, 300px) / repeat(3, 1fr) ;
   }

   &__item{
      padding: 30px;
      color: $title;
      position: relative;
   }
   
   &__item-text{
      position: relative;
      z-index: 3;
   }

   &__item-title{
      @extend %roboto-medium;
      margin-bottom: 5px;
      font-size: 22px;
   }

   &__item-link{
      border-bottom: 1px solid transparent;
      text-transform: uppercase;
      @extend %roboto-regular;
      transition: .3s;

      &:hover{
         @extend %link-hover;
      }
   }

   &__item-img{
      position: absolute;
      bottom: 0;
      right: 0;
      max-height: 100%;
   }

   &__item-discount{
      background: #eedeef;
      grid-row: 1 / 3;

      .top-categories__item-text{
         max-width: 170px;
      }

      .top-categories__item-position{
         color: #5800e4;
      }

      .top-categories__item-link:hover{
         color: #5800e4;
         border-bottom-color: #5800e4;
      }  

      .top-categories__item-img{
         width: 77%;
      }
   }

   &__item-new{
      grid-column: 2 / 4;
      background: #deeeef;
      display: flex;

      .top-categories__item-text{
         max-width: 230px;
         margin: auto 0;
      }

      .top-categories__item-position{
         color: $accent;
      }

      .top-categories__item-img{
         right: 20px;
      }
   }

   &__item-trending{
      background: #fef6a9;

      .top-categories__item-text{
         max-width: 140px;
      }

      .top-categories__item-position{
         color: #ffb534;
      }

       .top-categories__item-link:hover{
         color: #ffb534;
         border-bottom-color: #ffb534;
      }  

      .top-categories__item-img{
         max-width: 62%;
         padding-top: 15px;
      }
   }

   &__item-hot{
      background: #ececec;

      .top-categories__item-text{
         max-width: 140px;
      }

      .top-categories__item-position{
         color: #34c3ff;
      }

       .top-categories__item-link:hover{
         color: #34c3ff;
         border-bottom-color: #34c3ff;
      }  

      .top-categories__item-img{
         max-width: 54%;
         padding-top: 15px;
      }
   }
}




//FOOTER

.footer{
   background: $bg-semi;
}

.footer-top{
   padding-top: 60px;
   padding-bottom: 30px;
   display: flex;
   justify-content: space-between;
   border-bottom: 1px solid #ececec;

   &__column-contact{
      flex: 0 1 250px;
   }

   &__column-nav{
      flex: 0 1 170px;
      margin-left: 20px;
   }

   &__column-sub{
      flex: 0 4 470px;
      margin-left: 20px;
   }

   &__logo{
      margin-bottom: 28px;
   }

   &__title{
      margin-bottom: 38px;
      font-size: 22px;
      line-height: 36px;
      @extend %roboto-regular;
      color: $title;
      line-height: normal;
   }

   &__address{
      font-style: normal;
   }

   &__item + .footer-top__item{
      margin-top: 12px;
   }

   &__link{
      transition: .3s;

      &:hover{
         color: lighten($text, 20%);
      }
   }

   &__contact-list{
      margin-bottom: 25px;
   }

   &__socials-link{
      fill: $text;
      transition: .3s;

      &:hover{
         fill: $accent;
      }

      & + .footer-top__socials-link{
         margin-left: 12px;
      }
   }

   &__text{
      margin-bottom: 25px;
   }

   &__form{
      display: flex;
      justify-content: space-between;
   }

   &__search{
      flex: 1 1 auto;
      border: none;
      background: #fff;
      padding: 7px 11px;
      box-shadow: 0px 7px 20px 0px rgba(192, 192, 192, 0.3);
   }

   &__submit{
      border: none;
      margin-left: 10px;
      cursor: pointer;
   }
}

.footer-bot{
   display: flex;
   justify-content: space-between;
   padding: 17px 0;
   font-size: 12px;

   &__copy{
      margin-right: 20px;
   }

   &__accept{
      display: flex;
      align-items: center;
   }

   &__accept-img{
      margin-left: 12px;
   }
}


@import 'media';